<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="RssFeed" />
        <meta name="keywords" content="RssFeed" />
        <title>RSS FEED</title>
    </head>
    <body>
        <h1>RSS LOADER</h1>
        <form action="" method="post">
            <input type="text" name="url">
            <input type="submit" value="Enter">
        </form>
        {% if status=='success' %}
            {% for item in entries[:5] %}
                <a target="_blank" href="{{ item.link }}">
                    <h2>{{ item.title }}</h2>
                </a>
                <p>{{ item.description }}</p>
            {% endfor %}
        {% else %}
            <h1>Failed</h1>
        {% endif %}
    </body>
</html>
